{% extends 'main.html' %}


{% block content %}

<style>
  textarea {
    height: 5vh;
    border-radius: 22px;
  }
</style>


{% if request.user.is_authenticated %}
<div class="container text-center" style="background-color: rgb(252, 243, 245); width: 80%; height: 100%;">
  <div class="row" style="height: 100%;">

    <div class="col" style="height: 97%; overflow: auto; margin-top: 2%;">
      {% if request.user.is_authenticated %}
      <div class="left-third" style="height: 100%;">
        
        <h5>People you follow</h5>
        {% if comments %}
          {% for comment in comments %}
            {% if comment.user_id in my_follows_ids %}
            <div class="container text-center">
              <div class="container text-start">
      
                  <div class="card" style="width: 17rem;">
                    <div class="card-body">
                      <h6 class="card-subtitle" style="display: block;"><img src="{{comment.user.profile.avatar.url}}" alt="" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; float: left; margin-right: 5px;"/> @{{ comment.user }} commented on:</h6>
                      <br>
                      <div class="container text-center">
                        <p class="card-text text-truncate" style="display: block;">"{{ comment.post }}"</p>                  
                      </div>
                      <br>
                      <p class="card-text bg-primary" style="display: block; color: white; border-radius: 4px; padding: 4px">"{{ comment.content }}"</p>
                    </div>
                  </div>

              </div>
            </div>  
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      {% else %}
      <div class="left-third" style="height: 100%;">
        <h5>Recent Activity</h5>
      </div>
      {% endif %}
    </div>


    <div class="col-6" style="margin-top: 2%; height: 98%;">
      {% if request.user.is_authenticated %}
      <div class="one-third" style="height: 25%;">
        <h4>What's on your mind?</h4>
        <div class="post-input">
          <form method="Post" action="">
            {% csrf_token %}
            {{form.as_p}}
            <div class="d-grid gap-2">
              <input class="btn btn-primary" type="submit" value="Whisper!">
            </div>
            
          </form>
        </div>

      {% else %}
        <div class="container text-center" style="height: 25%;">
          <h5>Please sign in to post.</h5>
        </div>
      {% endif %}
      </div>
      <hr>

      <div class="two-third" style="height: 15%;">
        <h6 style="margin-right: 10px;">View by Category</h6>
        <form method="GET" action="{%url 'home' %}">
          <input type="text" name="q" placeholder="search..." style="border: none; border-radius: 6px;padding: 6px; width: 100%"/>
        </form>
        <br>
        <div class="d-grid gap-1">
          <a class="btn btn-primary" href="{% url 'home' %}" role="button" >View All</a>
        </div>
        <br>
      </div>
      <hr>

      <div class="three-third" style="height: 52%; overflow: auto;">
        {% for post in posts %}
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <div class="container text-start">
                <h6 class="card-subtitle mb-2 text-muted"><img src="{{post.user.profile.avatar.url}}" alt="" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 10px;"><a href="{% url 'profile' post.user_id %}">@{{post.user}}</a><small> posted {{post.created|timesince}} ago</small></h6>
                <p class="card-text"><a href="{% url 'view-post' post.id %}"><p>"{{post.content}}"</p></a></p>
                <a class="btn btn-primary btn-sm disabled float-end" role="button" aria-disabled="true">{{post.category}}</a>
              </div> 
            </div>
          </div>
        {% endfor %}
      </div>
    </div>


    <div class="col" style=" height: 100%; margin-top: 2vh;">
      {% if request.user.is_authenticated %}
      <div class="right-third">
        <h5>Your Profile</h5>
        <img src={{request.user.profile.avatar.url}} style="height: 200px; width: 200px; object-fit: cover; border: 1px solid black;border-radius: 50%;"/>
        <div class="profile-view-info">
          <a href="{% url 'profile' request.user.id%}">@{{request.user}}</a>
          <div class="container text-center">
            <br>
            <div class="container text-start">
              <h6>Followers: {{request.user.profile.followed_by.all.count}}</h6>
              <h6>Posts: {{post_count}}</h6>
              <h6>Contributions: {{comment_count}}</h6>
            </div>
          </div>

          <form class="d-flex" role="search" method="POST" action="{% url 'search-user' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="finder user" aria-label="Search" name="user-search">
            <button class="btn btn-primary opacity-75" onmouseout="this.style.opacity = '0.75'" onmouseover="this.style.opacity = '1'" type="submit">Search</button>
          </form>

        </div>  
      </div>
      {% else %}
      <div class="right-third" style="height: 100%;">
        <h5>Top Contributors</h5>
      </div>
      {% endif %}
    </div>

  </div>
</div>
{% else %}
<div class="wallpaper-container" style="position: relative; text-align: center; color: rgb(94, 94, 94); font-weight: bold;">
  <img class="img-fluid" src="https://healthyframework.com/wp-content/uploads/2020/10/People-in-their-30s.jpg" alt="" style="width: 100vw; height: 100vh; object-fit: cover;">
  <div class="center-text" style="position: absolute; top: 25%; left: 50%; transform: translate(-50%, -50%)">
    <h1>What's on your mind?</h1>
    <a href="{% url 'register' %}" class="btn btn-dark btn-lg" role="button" aria-disabled="true">Join Whisper</a>
  </div>
</div>

{% endif %}



{% endblock content %}
