  <!-- {% include 'navbar.html' %} -->

<style>

  /* .navigate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
  } */


</style>

<div class="navigate">
  <a href="/">
    <h2>Whisper</h2>
  </a>
  <div class="signin-out">
    {% if request.user.is_authenticated %}
    <a href="" style="margin-left: 5px;">Connections</a>
    <a href="" style="margin-left: 5px;">Messages</a>
    <a href="{% url 'profile' request.user.id %}" style="margin-left: 5px;">@{{request.user}}</a>
    <a href="{% url 'signout' %}" style="margin-left: 5px;">Logout</a>
    {% else %}
    <a href="{% url 'signin' %}">Login</a>
    {% endif %}
  </div>
</div>
<hr>
