{% extends 'main.html' %}

{% block content %}
<style>
  div::-webkit-scrollbar {
      display: none;
  }
</style>

<div class="container text-center" style="background-color: rgb(255, 255, 255); height: 100%;">
  <div class="row" style="height: 100%;">
    <div class="col-8" style="height: 100%; overflow: auto;">

      <div class="card" style="width: 75%; margin-left: auto; margin-right: auto; height: 15%; margin-top: 5%; border: 1px solid rgb(233, 233, 233); border-radius: 0;">
        <div class="card-body">
          <img src="{{post.user.profile.avatar.url}}" alt="" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; float: left; margin-right: 15px;">
          <div class="container text-start">
            <h6 class="card-title">@{{post.user}} <small class="card-subtitle">Posted {{post.created|timesince}} ago</small></h6>
            <p class="card-text">{{post.content}}</p>
            {% if request.user == post.user %}
            <div class="container text-end">
              <small class="card-text">{{post.created}}</small>
              <a class="card-link" href="{% url 'edit-post' post.id %}"><small>Edit</small></a>
              <a class="card-link" href="{% url 'delete-post' post.id %}" style="margin-left: 5px;"><small>Delete</small></a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <br>
      {% if request.user.is_authenticated %}
      <div class="container text-center" style="height: 10%; width:75%; border: 1px solid rgb(233, 233, 233);">
        <div class="container text-start" style="padding-left: 1rem;">
          <small>replying to @{{post.user}}...</small>
        </div>
        
        <form method="POST" action="">
          {% csrf_token %}
          <input class="form-control form-control-lg" name="comment-body" type="text" placeholder="Type your response" aria-label=".form-control-lg example" style="width: 100%; margin-right: auto; margin-left: auto; padding: 1rem; border: none; border-radius: 0;">
        </form>
      </div>
      {% else %}
      <div class="post-comment" style="height: 10%;">
        <input class="form-control" type="text" placeholder="Login to reply" aria-label="Disabled input example" disabled>
      </div>
      {% endif %}
      <br>
      <div class="container text-center" style="height: 65%; border: 1px solid rgb(233, 233, 233); width : 75%;">
        {% for comment in comments %}
        <div class="card" style="width: 100%; margin-left: auto; margin-right: auto; border: none; border-radius: 0;">
          <div class="card-body">
            <img src="{{comment.user.profile.avatar.url}}" alt="" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; float: left; margin-right: 15px;">
            <div class="container text-start">
              <small class="card-subtitle">@{{comment.user}} commented - {{post.created|timesince}} ago</small>
              <p class="card-text">{{comment.content}}</p>
              <div class="container text-end">
                <small style="margin-right: 15px;"></small>
                {% if request.user == comment.user %}
                <a href="{% url 'delete-comment' comment.id %}" class="delete-comment">Delete</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-4" style="height: 100%; overflow: auto;">
      <div class="empty-right" style="height: 100%; margin-top: 5%">
              
        <div class="card" style="width: 75%; margin-left: auto; margin-right: auto; margin-top: 10%;">
          <h5 class="card-subtitle" style="padding: 1rem;">In this post</h5>  
          {% if commented %}
          <ul class="list-group list-group-flush">
            {% for commenter in commented %}
            <li class="list-group-item"><a href="{% url 'profile' commenter.profile.id%}"><img src="{{commenter.profile.avatar.url}}" alt="" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; float: left; margin-right: 15px;"><small>@{{commenter}}</small></a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

      </div>
    </div>

  </div>
  
    

</div>



{% endblock %}
