{% extends 'main.html' %}

{% block content %}


<div class="single-post">
  <div class="empty-left">
  </div>
  <div class="all-comments">
    <div class="this-post">
      <h4>@{{post.user}}</h4>
      <p class="comment">{{post.content}}</p>
    </div>
    {% if request.user == post.user %}
    <div class="edit-delete">
      <a href="{% url 'edit-post' post.id %}"><small>Edit</small></a>
      <a href="{% url 'delete-post' post.id %}" style="margin-left: 5px;"><small>Delete</small></a>
    </div>
    {% endif %}
    <hr>

    {% if request.user.is_authenticated %}
    <div class="post-comment">
      <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="comment-body" placeholder="Type your response"/>
      </form>
    </div>
    {% endif %}

    
    <div class="comment-container">
      {% for comment in comments %}
      <div class="post-comments">
        <h5>@{{comment.user}} -- {{comment.created|timesince}}</h5>
        <div class="comment-meta">
          <small style="margin-right: 15px;">Replying to @{{post.user}}</small>
          {% if request.user == comment.user %}
          <a href="{% url 'delete-comment' comment.id %}" class="delete-comment">Delete</a>
          {% endif %}
        </div>
        <p class="comment">{{comment.content}}</p>
      </div>
      {% endfor %}
    </div>

  </div>
  <div class="empty-right">
    {% for commenter in commented %}
      <div class="post-users">
        <h5>@{{commenter}}</h5>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
