{% extends 'main.html' %}

{% block content %}

<style>
  .profile-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2em;
    height: 90vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .all-posts {
    height: 80vh;
    overflow: auto;
  }
  .all-posts::-webkit-scrollbar {
    display: none;
  }

  .profile-summary {
    border: 1px solid red;
  }

  .profile-summary-container {
    border: 1px solid black;
    height: 90vh;
  }

  .profile-summary-items {
    padding: 1rem;
  }
</style>

<div class="profile-container">
  <div class="profile-summary-container">
    <div class="profile-summary">
      <img src="{{profile.avatar.url}}" alt={{user.id}} style="height: 200px; width: 200px; object-fit: cover; border-radius: 50%;"/>
      <div class="profile-summary-items">
        <h4>@{{user.username}}</h4>
        {% if profile.id == request.user.id %}
        <a href="{% url 'update-profile' request.user.id %}">Update Profile</a>
        {% endif %}
        <p>{{user.id}}</p>
        <h5>Followers: {{profile.followed_by.all.count}}</h5>
        <h5>Posts: {{post_count}}</h5>
        <h5>Contributions: {{comment_count}}</h5>
      </div>
    </div>
    {% if request.user.is_authenticated %}
    <form method="POST" action="">
      {% csrf_token %}
      {% if profile.id != request.user.id %}
        {% if profile in request.user.profile.follows.all %}
          <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">
            Unfollow @{{profile.user.username}}
          </button>
        {% else %}
          <button class="btn btn-outline-success" name="follow" value="follow" type="submit">
            Follow @{{profile.user.username}}
          </button>
        {% endif %}
      {% endif %}
    </form>
    {% endif %}
    <br>
  </div>

  <div class="all-posts-container">
    <h2>@{{user.username}}'s posts</h2>
    <div class="all-posts">
      {% for post in posts %}
      <div class="profile-posts">
        <small>@{{post.user.username}} -- {{post.created|timesince}} ago</small>
        <a href="{% url 'view-post' post.id %}"><p>{{post.content}}</p></a>
        <small>{{post.category}}</small>
        <hr>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="profile-followers">
    <h2>@{{user.username}}'s followers</h2>
    <div class="followers-list">
      {% for following in profile.followed_by.all %}
        {% if following != profile %}
          <a href="{% url 'profile' following.user.id %}">@{{ following }}</a><br>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
{% endblock content %}
