{% extends 'main.html' %}

{% block content %}

<style>
  .profile-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2em;
    height: 90vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .all-posts {
    height: 90vh;
    overflow: auto;
  }
  .all-posts::-webkit-scrollbar {
    display: none;
  }
</style>

<div class="profile-container">

  <div class="profile-summary">
    <h1>[Profile Picture Here]</h1>
    <h4>@{{user.username}}</h4>
    <p>{{user.id}}</p>
    <h5>Followers: </h5>
    <h5>Posts: {{post_count}}</h5>
    <h5>Contributions: {{comment_count}}</h5>
    {% if user.id != request.user.id %}
    <a href="">+ Send Friend Request</a>
    {% endif %}
  </div>
  
  <div class="all-posts">
    <h2>@{{user.username}}'s posts</h2>
    {% for post in posts %}
    <div class="profile-posts">
      <small>@{{post.user.username}} -- {{post.created|timesince}} ago</small>
      <a href="{% url 'view-post' post.id %}"><p>{{post.content}}</p></a>
      <small>{{post.category}}</small>
      <hr>
    </div>
    {% endfor %}
  </div>

  <div class="profile-followers">
    <h2>@{{user.username}}'s followers</h2>
  </div>

</div>
{% endblock content %}
