{% extends 'main.html' %}

{% block content %}


<div class="container text-center" style="background-color: rgb(252, 243, 245); height: 100%;">
  <div class="row" style="height: 100%;"">

    <div class="col" style="margin-top: 2vh; height: 100%;">
      <div class="container text-center">
        <div class="container text-center">
          {% if request.user.is_authenticated %}
          <img src="{{profile.avatar.url}}" alt={{user.id}} style="height: 200px; width: 200px; object-fit: cover; border: 1px solid black; border-radius: 50%;"/>
          <br>
          <h5 style="margin-top: 5vh;">@{{user.username}}</h5>
          <hr>
          <h6>Followers: {{profile.followed_by.all.count}}</h6>
          <h6>Posts: {{post_count}}</h6>
          <h6>Contributions: {{comment_count}}</h6>
          {% endif %}
          {% if profile.id == request.user.id %}
          <a href="{% url 'update-profile' request.user.id %}">Update Profile</a>
          {% endif %}
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <form method="POST" action="">
        {% csrf_token %}
        {% if profile.id != request.user.id %}
          {% if profile in request.user.profile.follows.all %}
            <button class="btn btn-secondary" name="follow" value="unfollow" type="submit">
              Unfollow @{{profile.user.username}}
            </button>
          {% else %}
            <button class="btn btn-primary" name="follow" value="follow" type="submit">
              Follow @{{profile.user.username}}
            </button>
          {% endif %}
        {% endif %}
      </form>
      {% endif %}
      <br>
    </div>

    <div class="col-6" style="margin-top: 2vh; height: 98%; background-color: rgb(244, 244, 253); overflow: auto;">
      <div class="container text-start" style="height: 100%;">
        <div class="container text-center"">
          <h2>Posts</h2>
        </div>
        <div class="all-posts" style="height: 100%; overflow: auto;">
          {% for post in posts %}
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <div class="container text-start">
                <h6 class="card-subtitle mb-2 text-muted"><img src="{{post.user.profile.avatar.url}}" alt="" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 10px;"><small>@{{post.user.username}} -- {{post.created|timesince}} ago</small></h6>
                <p class="card-text"><a href="{% url 'view-post' post.id %}"><p>{{post.content}}</p></a></p>
                <small class="card-text float-start">Contributors: {{ post.commented.count }} &nbsp;</small>

            
                {% if post.id in post_comment_count %} 
                  <small class="card-text float-start">Comments: {{ post_comment_count.post.id }}</small>
                {% else %}
                  <small class="card-text float-start">Comments: 0</small>
                {% endif %}



                <a class="btn btn-primary btn-sm disabled float-end" role="button" aria-disabled="true">{{post.category}}</a>
              </div>
                          
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col" style="margin-top: 2vh;">
      <div class="container text-start">
        <h2>@{{user.username}}'s followers</h2>
        <br>
        <div class="followers-list">
          {% for following in profile.followed_by.all %}
            {% if following != profile %}
            <div class="container text-start" style="margin: 0;">
              <img src="{{ following.avatar.url }}" alt="" style="height: 50px; width: 50px; object-fit: cover; filter: drop-shadow(0px 1px 3px black); border-radius: 50%; margin-right: 20x;"/>
              <a href="{% url 'profile' following.user.id %}" style="margin-left: 10px;"><small>@{{ following }}</small></a>
            </div>
            <hr>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
