{% extends 'main.html' %}


{% block content %}

  {% if searched %}
  <div class="card" style="background-color: rgb(255, 247, 248); width: 50%; height: 75%; margin-left: auto; margin-right: auto; position: absolute; top: 15%; left: 25%; overflow: auto;">
    
    {% if results %}
    <div class="card-header bg-primary bg-gradient" style="color: white;">Search Results for "{{searched}}" <small class="card-subtitle" style="display: block; color: white; height: 10%;">{{results.count}} results</small></div>
    
    <div class="container text-start">
      {% for result in results %}
      <div class="card-body">
        {% if request.user.is_authenticated %}
        <form method="POST" action="">
          {% csrf_token %}
          {% if result.id != request.user.id %}
            {% if result.profile in request.user.profile.follows.all %}
              <input class="btn btn-secondary btn-sm float-end" name="unfollow" value="Unfollow" type="submit" disabled>
              </input>
            {% else %}
              <input class="btn btn-primary btn-sm float-end" name="follow" value="Follow" type="submit" disabled>
              
              </input>
            {% endif %}
          {% endif %}
        </form>
        {% endif %}
        <img src="{{result.profile.avatar.url}}" alt="" style="height: 50px; width: 50px; object-fit: cover; border: 1px solid black;border-radius: 50%; margin-right: 10px;">
        <p class="card-subtitle" style="display: inline"><a href="{% url 'profile' result.id %}">@{{result}}</a></p>
        <hr>
      </div>
      {% endfor %}
    </div>

    
    
    {% else %}
    <div class="card" style="width: 50%">
      <div class="card-body">
        <h5 class="card-title">No results</h5>
        <a href="/">Back</a>
      </div>
    </div>
    {% endif %}
  </div>
  {% else %}
  <div class="card" style="width: 50%">
    <div class="card-body">
      <h5 class="card-title">No search query</h5>
      <a href="/">Back</a>
    </div>
  </div>
  {% endif %}


{% endblock content %}
